.expenses-bar {
  height: 95%;
  width: 2.4rem;
  display: flex;
  flex-direction: column;
}

.expenses-bar__outer {
  height: 100%;
  overflow: hidden;
  background-color: #ffc078;
  margin-bottom: 1.2rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.expenses-bar__inner {
  background-color: #f76707;
}

.expenses-bar__label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #343434;
}
